*{
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    line-height: 1.6;
    color: #202124;
    margin: 0 auto;

}
/*main bar styling*/

nav{
   min-width: 100%;
   display: flex;
   flex-direction: column;
   padding: 1rem 1rem;
   gap: 2px;

}
.title{
    font-size: 1.8rem;
    color:#707373;
    background-color: #F9FBFD;
}
.menu-bar{
    display: flex;  
    font-size: 1.2rem;
    align-items: center;
    gap: 20px;
}
.toolbar{
    background-color: #EDF2FA;
    display: flex;
    gap: 3rem;
    padding: 0 2rem;
    align-items: center;
    height: 4rem;
    border-radius: 2rem;
}
.toolbar i,#bold,#italic,#underline{
    font-size: 1.4rem;
    cursor: pointer;

}
#bold{
    font-weight: 700;
}
#italic{
    font-style: italic;
}
.toolbar input{
    display: none;
    width: 0;
}
.state{
    margin-top: 2px;
    height: 2rem;
    display: flex;
    background-color: white;
}
#curr-cell{
   
    border: 1px solid  #EDF2FA;
    width: 8rem;
    text-align: center;
    font-size: 1.4rem
}

/*////////////the table section*/
.table-body{
  width: 100%;
  height: 80vh; 
     overflow: auto;
}

#row-section{
    /* background-color: blue; */
    display: flex;
    width: fit-content;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color:rgb(255, 254, 254);
}
#srNo{

   min-width: 50px;
   position: sticky;
   left: 0;
   background-color: grey;
}
.row{
    display: flex;
    /* background-color: rgb(8, 8, 202); */
}
.row div{
    width: 100px;
    border: 1px solid black;

}
#row-0{
    text-align: center;
   
}
#columns{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.columnRows{
  display: flex;
}
.columnRows div{
    /* width: 100px; */
    border: 1px solid black;
}
.columnRows b{
    background-color: red;
    min-width: 50px;
    position: sticky;
    left:0 ;
    background-color:rgb(255, 254, 254);
    border: 1px solid black;
    text-align: center;
    
}

.active-options{
    background-color: rgb(218, 214, 214);
}